


.hero{

      background: #e7b91b;
      color: #111;
      font-family: "Helvetica Neue", sans-serif;
      text-align: center;
      h1{
            font-size: 40px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 1.5;
      }


}

.logo{
    padding-top: 7px;
}